.header{
    height: 50px;
    background-color: black;
    display: flex;
    align-items: center;
    padding-top: 10px;
    box-sizing: unset;
   
    .buyPacket{
        color: #fff;
        background: #ff6500;
        padding: 4px 12px;
        border-radius: 15px;
        margin: 0 3px;
        margin-left: 30px;
        cursor: pointer;
    }
    .btn_login{
        color: #9B9B9B;
        &:hover{
            cursor: pointer;
            color: #ff6500;
            transition: 400ms;
        }
    }

    .header_search{
        position: relative;
        height: 80%;
        width: 35%;
        background-color: #fff;
        display: flex;
       margin-left: 50%;
       transform: translate(-50%);
       align-items: center;
       justify-content: center;
       border-radius: 5px;
       z-index: 1000;
       .active_recommend{
           display: block !important;
       }
       .recommend{
           display: none;
           position: absolute;
           height: 300px;
           width: 100%;
           background-color: #fff;
           top: 44px;
           border-radius: 5px;
           overflow-y: auto;
           p{
               padding-left: 10px;
               padding-top: 5px;
               cursor: pointer;
               &:hover{
                   color: #ff6500;
               }
           }
        &::-webkit-scrollbar {
            width: 2px;
        }
        
        /* Track */
        &::-webkit-scrollbar-track {
            background: #f1f1f1;
        }
        
        /* Handle */
        &::-webkit-scrollbar-thumb {
            background: #888;
        }
        
        /* Handle on hover */
        &::-webkit-scrollbar-thumb:hover {
            background: #555;
        }

       }
       @-webkit-keyframes glowing {
        0% {border-radius: 100%; background-color: #791212; -webkit-box-shadow: 0 0 3px #791212; }
        50% {border-radius: 100%; background-color: #f12525; -webkit-box-shadow: 0 0 10px #f12525; }
        100% {border-radius: 100%; background-color: #791212; -webkit-box-shadow: 0 0 3px #791212; }
      }
       
      @-moz-keyframes glowing {
        0% {border-radius: 100%; background-color: #791212; -moz-box-shadow: 0 0 3px #791212; }
        50% {border-radius: 100%; background-color: #f12525; -moz-box-shadow: 0 0 10px #f12525; }
        100% {border-radius: 100%; background-color: #791212; -moz-box-shadow: 0 0 3px #791212; }
      }
       
      @-o-keyframes glowing {
        0% {border-radius: 100%; background-color: #791212; box-shadow: 0 0 3px #791212; }
        50% {border-radius: 100%; background-color: #f12525; box-shadow: 0 0 10px #f12525; }
        100% {border-radius: 100%; background-color: #791212; box-shadow: 0 0 3px #791212; }
      }
       
      @keyframes glowing {
        0% {border-radius: 100%; background-color: #791212; box-shadow: 0 0 3px #791212; }
        50% {border-radius: 100%; background-color: #f12525; box-shadow: 0 0 10px #f12525; }
        100% {border-radius: 100%; background-color: #791212; box-shadow: 0 0 3px #791212; }
      }
      .record{
        margin-right: 8px;
        cursor: pointer;
        -webkit-animation: glowing 1500ms infinite;
        -moz-animation: glowing 1500ms infinite;
        -o-animation: glowing 1500ms infinite;
        animation: glowing 1500ms infinite;
      }
       .mic{
           cursor: pointer;
           margin-right: 8px;
       }
       input{
        width: 80%;
        border: none;
        &:focus-visible{
            outline-style: none;
            }  
        }
        .icon{
            height: 25px;
            cursor: pointer;
            width: 25px;
        }
    }
    .contact_header{
        display: none;
        height: 80%;
        width: 5%;
        background-color: rgb(182, 178, 178,0.5);
        margin-left: -4%;
        // display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        border-radius: 5px;
        cursor: pointer;
        span{
            margin-left: 3px;
            margin-top: -3px;
            a{
                color: #fff;
               text-decoration: none;
            }
            
        }
    }
    .user{
        position: relative;
        right: -30px;
        cursor: pointer;
        .iconUser{
            color: #fff;
            width: 40px;
            height: 40px;
        }
        .icon_vip{
            position: absolute;
            top: -12px;
            left: -20px;
            transform: rotate(-45deg);
            img{
                height: 24px;
               
            }
        }
        .iconUserText{
            height: 40px;
            width: 40px;
            color: #000;
            background-color: #fff;
            border-radius: 100%;
            text-align: center;
            line-height: 40px;
            font-weight: 500;
        }
        .subMenu{
            z-index: 10;
            position: absolute;
            display: none;
            border-radius: 5px;
            top: 50px;
            left: -180px;
            min-height: 360px;
            width: 240px;
            background-color: #fff;
            border: 0.5px solid #000;
            ul{
                border-bottom: 0.5px solid #ccc;
                padding-left: 20px;
                li{
                    list-style: none;
                    padding: 5px 0;
                    font-weight: 500;
                    cursor: pointer;
                    &:hover{
                        color: blue;
                    }
                    
                }
                .avatar{
                    display: flex;
                    .icon_name{
                        background: #000;
                        color: #fff;
                        width: 50px;
                        height: 50px;
                        border-radius: 100%;
                        text-align: center;
                        line-height: 50px;
                    }
                    .name{
                        line-height: 50px;
                        padding: 0 10px;
                    }
                }
            }
        }
        .active{
            display: block;
        }
    }
}

.menu{
    height: 43px;
    background-color: #000;
    color: #9B9B9B;
    .category{
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        padding-left: 0px;
        .main_category{
            position: relative;
            .sub_category{
                display: none;
                position: absolute;
                width: 640px;
                min-height: 200px;
                background-color: #000;
                color: #fff;
                top: 45px;
                left: 38px;
                z-index: 100;
                border-radius: 5px;
                .row_category{
                    width: 100%;
                    margin: 0px;
                    .col_category{
                       margin-top: 5px;
                        .name_category{
                            margin-left: 10px;
                            font-weight: 300;
                            font-size: 16px;
                        }
                        &:hover{
                            color: #ff6500;
                            transition: 400ms;
                        }
                    }
                    
                }
                
            }
            &:hover .sub_category{
                display: block;
            }
        }
        .main_country{
            position: relative;
            .sub_country{
                display: none;
                position: absolute;
                width: 350px;
                background-color: #000;
                color: #fff;
                top: 45px;
                left: 38px;
                z-index: 100;
                border-radius: 5px;
                .row_country{
                    width: 100%;
                    margin: 0px;
                    .col_country{
                       margin-top: 5px;
                        .name_country{
                            margin-left: 10px;
                            font-weight: 300;
                            font-size: 16px;
                        }
                        &:hover{
                            color: #ff6500;
                            transition: 400ms;
                        }
                    }
                    
                }
            }
            &:hover .sub_country{
                display: block;
            }
        }

        li{
            list-style: none;
            padding: 9px 38px;
            box-sizing: border-box;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            // border-left: 1px solid #ccc;
            .wap_element{
                .icon_home{
                    height: 25px;
                    width: 25px;
                }
                .icon_category{
                    height: 20px;
                    width: 20px;
                }
                .icon_nation, .icon_media,.icon_firm,.icon_star,.icon_cinema,.icon_tvshow{
                    height: 15px;
                    width: 15px;
                }
                span{
                    margin-left: 3px;
                }
                // &:hover{
                   
                //    color: #ff6500;
                // }
            }
            
            &:hover .wap_element{
                color: #ff6500;
                transition: 400ms;
            }
        }
    }
}

@media screen and (max-width: 1024px) {
    .header{
        .user{
            right: -50px;
        }
    }
    .menu{
        display: none;
    }
}
@media screen and (max-width: 700px) {
    .header{
        .user{
            right: -20px;
        }
    }
}