.banner{
    // margin:17px;
    padding: 17px;
    min-height: 360px;
    position: relative;
   
    img{
        width: 180px;
        height: 270px;
        border-radius: 5px;
        margin: 0 auto;
    }
    .item_banner{
        position: relative;
       .title_banner{
           color: #fff;
           padding-top: 8px;
           font-size: 16px;
           font-weight: 400;
           &:hover{
            color: #ff6500;
            transition: 400ms;
        }
           
       }
       .time_banner{
           font-size: 14px;
           color:#ccc;
           
       }
       span{
           position: absolute;
           background: rgb(150, 20, 20);
           top: 4px;
           left: 10px;
           border-radius: 5px;
           color: #fff;
       }
       .icon_vip{
        height: 20px;
        position: absolute;
        top: 30px;
        left: 10px;
        width: 42px;

    }
    }
}

.slide{
    cursor: pointer;
    .item_slide{
        position: relative;
        img{
            width: 100%;
            height: 400px;
        }
        .view_now{
            position: absolute;
            bottom: 0px;
            right: 0px;
            bottom: 20px;
            right: 20px;
            color: #fff;
            padding: 5px 10px 9px 20px;
            letter-spacing: 1px;
            background-color: transparent;
            border-radius: 10px;
            &:hover{
                background: #ff6500;
                transition: 0.4s;
            }
        }
        .title_slide{
            position: absolute;
            background: #ff6500;
            top: 5px;
            left: 5px;
            border-radius: 5px;
            .name_slide{
                font-size: 18px;
                color: #fff;
                margin-left: 2px;
                margin-right: 2px;
            }
            .time_slide{
                font-size: 14px;
                color:rgb(45, 41, 228);
                margin-left: 2px;
                margin-right: 2px;
            }
    
        }


    }
  
    
    
}

.item_firm{
    position: relative;
    margin-bottom: 20px;
    .image_film{
        width: 100%;
        border-radius: 5px;
        margin: 0 auto;
        height: 280px;
    }
    .icon_vip{
        height: 20px;
        position: absolute;
        top: 30px;
        left: 10px;

    }
    .title_banner{
        padding-top: 8px;
        font-size: 16px;
        font-weight: 400;
        color: #fff;
        &:hover{
            color: #ff6500;
            transition: 400ms;
        }
    }
    .time_banner{
        font-size: 14px;
        color:#ccc;
    }
    span{
        position: absolute;
        background: rgb(150, 20, 20);
        top: 4px;
        left: 10px;
        border-radius: 5px;
        color: #fff;
        font-size: 14px;
        padding: 0 5px;
    }
}
.title_series{
    font-size: 30px;
    font-weight: 300;
    color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
    .icon_series{
        margin-right: 20px;
    }
}

.wap_item_firm{
    text-decoration: none;
}

.view_more{
    color: #fff;
    &:hover{
        color: #ff6500;
        transition: 400ms;
        cursor: pointer;
    }
}

.loader {
    top: 150px;
    left: 50%;
    position: absolute;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: inline-block;
    border-top: 4px solid rgb(91 209 203);
    border-right: 4px solid transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
  }
  .loader::after {
    content: '';  
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 0;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border-bottom: 4px solid rgb(246 230 235);
    border-left: 4px solid transparent;
  }
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  } 

@media screen and (max-width: 1024px) {
    .slide{
        display: none;
    }
    .item_firm{
        img{
            height: auto;
        }
    }
}
@media screen and (max-width: 576px) {
    .col_custom{
        flex: 0 0 auto;
        width: 33% !important;
    }
    
}