.wap_loading{
    position: absolute;
    height: 100%;
    width: 100%;
    background: #000;
    top: 0px;
    z-index: 2000;
    opacity: 0.7;
    transition: 500ms;
    .loader {
        z-index: 6000;
        position:fixed;
        top: 50%;
        left: 50%;
        width: 48px;
        height: 48px;
        border-radius: 50%;
        display: inline-block;
        border-top: 4px solid rgb(91 209 203);
        border-right: 4px solid transparent;
        box-sizing: border-box;
        animation: rotation 1s linear infinite;
      }
      .loader::after {
        content: '';  
        box-sizing: border-box;
        position: absolute;
        left: 0;
        top: 0;
        width: 48px;
        height: 48px;
        border-radius: 50%;
        border-bottom: 4px solid rgb(246 230 235);
        border-left: 4px solid transparent;
      }
      @keyframes rotation {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        }
      } 

}
