.container{
    max-width: 1200px;
    margin: 0 auto;
    background: #000;

    .container_main{
        display: flex;
        .container_left{
            width: 70%;
            margin: 17px;
        }
    
        .container_right{
            width: 30%;
            margin: 17px;
        }

    }

    
}

.wap_pageAdmin{
    overflow-x: hidden;
}
.message{
    position: fixed;
    top: 70%;
    right: 20px;
    .icon_message{
        height: 50px;
        width: 50px;
        color: #ff6500;
        cursor: pointer;
    }
}




@media screen and (max-width: 750px) {
    .container{
        .container_main{
            .container_right{
               display: none;
            }
            .container_left{
                width: 100%;
            }
        }
    }
}

