.wap_comment{
    padding: 20px 0;
    border-top: 0.5px solid #ddd;
    border-bottom: 0.5px solid #ddd;
    margin-top: 20px;
    .count_comment{
        margin-top: 10px;
        font-weight: 500;
        color: #fff;
    }

    .comments{
        display: flex;
        margin-top: 30px;
        position: relative;
        .avatar_comment{
            margin-right: 20px;
            width: 50px;
            height: 50px;
            background: #ccc;
            color: #fff;
            text-align: center;
            line-height: 50px;
            border-radius: 100%;
        }
        .input_comment{
            width: 90%;
            input{
                height: 90px;
                width: 100%;
                border: 0.5px solid #ccc;
                &:focus-visible{
                    outline: none;
                }
            }
            button{
                margin-top: 10px;
                border: 0.5 solid #000;
                border-radius: 2px;
                
    
            }
        }
        .icon_emoji{
            position: absolute;
            right: 20px;
            top: 66px;
            cursor: pointer;
            height: 20px;
            width: 20px;
            &:hover{
                color: #ff6500;
                transition: 400ms;
            }
        }
        .active_emoji{
            display: block !important;
        }
        .emoji{
            display: none;
            position: absolute;
            top: 92px;
            right: 10px;
            z-index: 999;
        }
        
    }
    .display_comment{
        margin-top: 20px;
        display: flex;
        .content_display{
           margin-left: 30px;
           .name_user{
            color: #fff;
            cursor: pointer;
            font-weight: 600;
            white-space: nowrap;
           }
           .content_comment_display{
               font-size: 14px;
               font-weight: 400;
               color: #9b9b9b;
           }
        }
    }
}
.view_more{
    color: #9b9b9b;
    font-size: 14px;
    padding-top: 40px;
    &:hover{
        color: #ff6500;
        transition: 400ms;
        cursor: pointer;
    }
}