.content{
    background-size: cover;
    span{
        display: block;
        padding-top: 15px;
        img{
            height: 50px;
            margin-left: 50%;
            transform: translate(-50%);
        }
    }

    .title{
        text-align: center;
        color: #fff;
        padding: 20px 0;
        font-size: 20px;
    }
    form{
        margin-top:20px;
        text-align: center;
        .line_info{
            padding: 10px 0;
            width: 70%;
            display: flex;
            margin-left: 50%;
            transform: translate(-50%);
            input{
                height: 42px;
            }
        }
        
        button{
            margin-top: 30px;
            margin-bottom: 10px;
            width: 70%;
            background: #FF6400;
            color: #fff;
            &:hover{
                color: #fff !important;
                transition: 300ms;
                background: #e25a03;
            }
          
        }
    }
}
.modalBody{
    padding: 0px !important;
    position: relative;
    background: #1F1F1F;
    color: #fff;
    .btn_close{
        position: absolute;
        top: 15px;
        right: 15px;
        color: #fff;
        &:hover{
            transition: 300ms;
            color: #e25a03;
            cursor: pointer;
        }
    }
    .content_login{
        background: #1F1F1F;
    }
    .forgetPassword{
        margin-bottom: 0px;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 14px;
        padding-bottom: 5px;
        &:hover{
            color: #ff6500;
            transition: 400ms;
            cursor: pointer;
        }
    }
    .content_regulation{
        margin-bottom: 0px;
        color: #4A4A4A;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 14px;
        padding-bottom: 5px;
    }
    .regulation{
        margin-bottom: 0px;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 14px;
        padding-bottom: 10px;
        cursor: pointer;
        &:hover{
            color: #ff6500;
            transition: 400ms;
        }
    }
    .or{
        margin-bottom: 0px;
        color: #4A4A4A;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 14px;
        padding-bottom: 10px;
    }
    .btn_facebook{
        color: #fff;
        width: 70%;
        background: #3B5998;
        margin-left: 50%;
        transform: translate(-50%);
        height: 38px;
        border: none;
        border-radius: 3px;
        &:hover{
            background: #1f4696;
            transition: 300ms;
        }
        
    }
    .btn_google{
        margin-top: 15px;
        color: #fff;
        width: 70%;
        background: #DD4B39;
        margin-left: 50%;
        transform: translate(-50%);
        height: 38px;
        border: none;
        border-radius: 3px;
        margin-bottom: 15px;
        &:hover{
            background: #dd2e18;
            transition: 300ms;
        }
    }
    .footer_login{
        color: #9b9b9b;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 14px;
        p{
            padding: 0 2px;
        }
        .register{
            color: #4A4A4A;
            cursor: pointer;
            &:hover{
                color: #ff6500;
                transition: 400ms;
            }
        }
    }
}

.wrapperModalComingSoon {
    max-width: 80%;
    top: 10%;

    .content {
        width: 100%;
        height: 607px;
        .imgComing {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}
.momo{
    border: none;
    background: #a80069;
    height: 48px;
    margin-bottom: 25px;
    width: 85%;
    margin-left: 50%;
    transform: translate(-50%);
    border-radius: 5px;
    color: #fff;
    font-size: 30px;
}
.zalo{
    font-size: 20px;
    border: none;
    background: #fff;
    height: 48px;
    margin-bottom: 25px;
    width: 85%;
    margin-left: 50%;
    transform: translate(-50%);
    border-radius: 5px;
    box-shadow: 0 0 2px 0px;
}

.paypal{
    font-size: 20px;
    border: none;
    background: #ffc439;
    height: 48px;
    margin-bottom: 25px;
    width: 85%;
    margin-left: 50%;
    transform: translate(-50%);
    border-radius: 5px;
    color: #fff;
}
.titlepaypal{
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    margin-top: 5px;
}
.moneyPaypal{
    min-height: 150px;
    text-align: center;
    width: 80%;
    margin-left: 50%;
    transform: translate(-50%);
    .price{
        color:#ffc439 ;
        font-size: 20px;
        margin: 0px;
    }
    .month{
        display: flex;
        justify-content: space-around;
        .select_month{
            display: flex;
            flex-direction: column;
            align-content: space-around;
        }
    }
}

.displayPaypal{
    width: 85%;
    margin-left: 50%;
    transform: translate(-50%);
}


.header_update_account{
    padding: 40px 25px 42px 10px;
    background: #202020;
}
.person_avatar{
        display: flex;
        position: absolute;
        align-items: center;
        justify-content: center;
        padding-top: 15px;
        top: 0px;
        left: 325px;
        img{
            border-radius: 100%;
        }
        .camera{
            position: absolute;
            background: #1F1F1F;
            width: 35px;
            height: 35px;
            border-radius: 100%;
            bottom: -16px;
            display: flex;
            justify-content: center;
            align-items: center;
            border:1px solid #fff;
            cursor: pointer;
        }
}
.body_update_info{
    color: #c9c9c9;
    min-height: 200px;
    background-color: #272727;
    display: flex;
    justify-content: center;
}
.wap_info{
    width: 90%;
    padding-top: 80px;
    padding-bottom: 42px;
    span{
        padding-top: 5px;
    }
    input{
        background: #383838!important;
        border-radius: 12px;
        border-bottom: unset!important;
        box-shadow: unset!important;
        font-size: 16px;
        line-height: 24px;
        color: #fff;
        width: 95%;
        margin-bottom: 5px;
        height: 2.5rem;
        outline: none;
        padding-left: 20px;
    }
    button{
        margin-left: 50%;
        transform: translate(-50%);
        cursor: pointer;
        background: #ff6400;
        color: #fff;
        border-radius: 10px;
        height: 45px;
        width: 150px;
        margin-top: 40px;
    }
}

.title_changePass{
    text-align: center;
    padding-top: 40px;
    font-size: 22px;
    color: #fff;
}
.wap_info_change_pass{
    p{
        text-align: center;
        font-size: 16px;
        color: #9b9b9b;
        margin-bottom: 5px;
    }
    input{
        text-align: center;
        border: 1px solid #ff6500;
        color: #9b9b9b;
        max-width: 250px;
        margin: 15px 0 0 0;
        height: 40px;
        margin-left: 50%;
        transform: translate(-50%);
        background: transparent;
        &:focus{
            outline: none;
            background: transparent;
            color: #9b9b9b;
        }
    }
    padding-bottom: 40px;
}
.button_submit{
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
    button{
        border-radius: 5px;
        margin: 8px 0 0 0;
        height: 42px;
        background: #4a4a4a;
        font-size: 16px;
        border-radius: 5px;
        min-width: 167px;
        display: flex;
        justify-content: center;
        line-height: 37px;
        outline: none;
        border: none;
        &:hover{
            background-color: #ff6500;
            transition: 400ms;
            color: #fff;
        }

    }
    .cancel{
        margin-right: 20px;
    }
}

.content_message{
    display: none;
    position: absolute;
    height: 400px;
    width: 320px;
    background: #fff;
    border-radius: 10px;
    bottom: 60px;
    right: 10px;
    .numberRoom{
        text-align: center;
    }
    ul{
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 10px;
        height: 300px;
        overflow-y: auto;
            /* width */
    &::-webkit-scrollbar {
        width: 2px;
    }
    
    /* Track */
    &::-webkit-scrollbar-track {
        background: #f1f1f1;
    }
    
    /* Handle */
    &::-webkit-scrollbar-thumb {
        background: #888;
    }
    
    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
        li{
            display: flex;
            span{
                background: #FF9D00;
                border-radius: 100%;
                width: 30px;
                height: 30px;
                text-align: center;
                line-height: 30px;
                font-size: 14px;
            }
            p{
                text-align: left;
                margin-left: 10px;
                font-size: 14px;
                margin-bottom: unset;
                min-height: 35px;
                margin-bottom: 25px;
                background: #ccc;
                border-radius: 15px;
                padding: 0 10px;
                max-width: 85%;
                line-height: 35px;
            }
        }
        .message_mySelf{
            display: flex;
            justify-content: right;
           p{
            background-color: rgb(0, 132, 255);
           }
        }
    }
    .contentMessage{
        width: 92%;
        margin-left: 50%;
        transform: translate(-50%);
        border-radius: 20px;
        position: absolute;
        bottom: 10px;
        padding: 0 10px;
        padding-right: 100px;
        background: #f0f2f5;
        border: none;
        height: 40px;
        &:focus {
            outline: none;
        }
    }
    .icon_send{
        position: absolute;
        right: 30px;
        bottom: 21px;
        color: #ccc;
        height: 20px;
        width: 20px;
        cursor: pointer;
        &:hover{
            color: #ff6500;
        }
    }
    .change_room{
        position: absolute;
        right: 62px;
        bottom: 21px;
        color: #ccc;
        height: 20px;
        width: 20px;
        cursor: pointer;
        &:hover{
            color: #ff6500;
        }

    }
    .icon_emoji{
        position: absolute;
        right: 92px;
        bottom: 21px;
        color: #ccc;
        height: 20px;
        width: 20px;
        cursor: pointer;
        &:hover{
            color: #ff6500;
        }
    }
    .active_emoji{
        display: block !important;
    }
    .emoji{
        display: none;
        position: absolute;
        top: 26px;
        right: 8px;
    }
}
.activeMessage{
    display: block !important;
}
